* {
margin: 0;
padding:0;


}

#navbar {
width: 100%;
display: flex;
justify-content: flex-end;
background-color: #DEDEDE;
position: fixed;

}

.nav-list {
    display: flex;
    list-style: none;
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
}

.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
    text-decoration: none;
    
}

.nav-list a:hover {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
    text-decoration: none;
    background-color: #4A5B61;
    color: #ffffff;
}

a:visited {

color: #4A5B61;
text-decoration: none;
}


#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    Height: 100vh;
    background-color: #ffffff;

}

h1 { color: #4A5B61;
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
    font-size: 2.2rem;
}

h3 {
    color: #4A5B61;
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
}


#project-list {

    display: flex; 
    justify-content: space-around;
    padding: 1.5rem;
margin: 1.5rem;
flex-wrap: wrap;
}

#projects {
text-align: center;
background-color: #F2F2F2;
padding: 1.5rem;

}
img {
max-width: 200px;
max-height: 200px;
border-radius: 3px;

}

figcaption {
background-color: #4A5B61;
color: #ffffff;
font-family: 'Dosis', sans-serif;
    font-weight: 100;
    font-size: 1.25rem;
    padding: 1rem;
    margin: 0;
    border-radius: px;
}

#contact {
display: flex;
padding: 1.5rem;
margin: 1.5rem;
width: 100%;
flex-wrap: wrap;
justify-content: center;
}
 #contact a {

    text-decoration: none;
    margin: 1rem;
 }

i {
    font-size: 2rem;

}

footer {
font-size: 1.5rem;
height: 60px;
background-color: #DEDEDE;
color: #4A5B61;
display: flex;
align-items: center;
justify-content: center;

}
scroll-container {
    scroll-behavior: smooth;
}


/* 1200px / 16px = 75em */

@media (max-width: 75em) {
html{
    font-size: 60%
}

}
/* 980px / 16px = 61.25em */

@media (max-width: 61.25em) {
    html{
        font-size: 58%
    }
    
    }
    /* 460px / 16px = 28.75em */

@media (max-width: 28.75em) {
    html{
        font-size: 50%
    }
    
    }