:root {
box-sizing: border-box;
background-color: #dfdfdf;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

a > img {
    height : 12rem;
    margin: 6px;
}

button {
height: 2.5rem;
border-radius: 6px;
font-size: .8rem;
background-color: white; 
font-weight: bold;

}
.nav {
    display: flex;
    justify-content: space-evenly;
    padding-left: 400px;
   padding-right: 400px;
}
