:root {
    box-sizing: border-box;
    background-color: #dfdfdf;
    width: 100%;
    Height: 100vh;
}
header, footer{
    display: flex;
    justify-content: center;
    color: white;
}

.container {
    display: flex;
   justify-content: space-between ;
    align-items: center;
   
}
.nav {
    border: solid 2px grey;
    border-radius: 6px;
    padding: 1rem;
   


}
main{
    display:flex;
}
a{
    text-decoration: none;
    font-size: 1rem;
    list-style-type: none;
    color: white;
}
a:hover{
    font-size: larger;
    color: lightgrey;
}
 a:focus {
     color: rgb(33, 33, 214);
     font-weight: 600;
     font-size: larger;
 }
 img {
     padding-right: 25%
 }





