.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Dosis', sans-serif;
    

}

body {
    font-family: 'Dosis', sans-serif;

}

img {
border-radius: 6px;


}
button {
    height: 2.5rem;
    border-radius: 6px;
    font-size: .8rem;
    background-color: white; 
    font-weight: bold;
     
    }
#Democrats {
    background-color: rgb(22, 11, 83);
    color: white;
}
#Democrats:hover {
    background-color: white;
    color: rgb(22, 11, 83);
}
#republicans {
    background-color: rgb(141, 7, 7);
    color: white;
}
#republicans:hover {
    background-color: white;
    color: rgb(141, 7, 7);
}

    .nav {
        display: flex;
        justify-content: space-around;
       padding-left: 25%;
       padding-right: 25%;
    }